<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <meta charset="utf-8">
        <title>{{ cuisine.getName }}</title>
    </head>
    <body>
        <div class="container-fluid">
            <h2>{{ cuisine.getName }}</h2>
            <h4>Here are your current restaurants:</h4>
            <ul>
                {% for restaurant in restaurants %}
                    <li><a href="/restaurant/{{ restaurant.getId }}">{{ restaurant.getName }}, {{ restaurant.getLocation }}</a></li>
                {% endfor %}
            </ul>

            <form action="/add_restaurant" method="post">
                <input type="hidden" id="cuisine_id" name="cuisine_id" value="{{ cuisine.getId }}">
                <label for="restaurant_name">Name of Restaurant</label>
                <input type="text" name="restaurant_name" value="" required>
                <label for="location">Location</label>
                <input type="text" name="location" value="" required>
                <button type="submit" class="btn btn-default" name="button">Submit</button>
            </form>

            <h5>Edit Cuisine Name</h5>
            <form action="/cuisine/{{ cuisine.getId }}/edit" method="post">
                <input type="hidden" id="cuisine_id" name="cuisine_id" value="{{ cuisine.getId }}">
                <input type="hidden" name="_method" value="patch">
                <label for="cuisine_name">Rename your Cuisine</label>
                <input type="text" name="cuisine_name" value="">
                <button type="submit" class="btn btn-warning" name="button">Submit</button>
            </form>

            <a href="/"><button type="button" class="btn btn-info" name="button">Home</button></a>
            <form action="/delete_restaurants" method="post">
                <button type="submit" class="btn btn-danger" name="button">Clear Restaurants</button>
            </form>
        </div>





    </body>
</html>
