<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <meta charset="utf-8">
        <title>{{ restaurant.getName }}</title>
    </head>
    <body>
        <div class="container-fluid">
            <h2>{{ restaurant.getName }}</h2>
            <h3>{{ restaurant.getLocation }}</h3>


            <form action="/restaurant/{{restaurant.getId}}/review" method="post">
                <input type="hidden" name="restaurant_id" value={{restaurant.getId}}>
                <div class="form-group">
                    <label for="user_name">Your Name:</label>
                    <input type="text" name="user_name" value="" required>
                </div>
                <div class="form-group">
                    <label for="user_rating">Your Rating (1-5):</label>
                    <input type="number" name="user_rating" min=1 max=5 value="" required>
                </div>
                <div class="form-group">
                    <textarea type="test" name="user_review" placeholder="Write a review" value="" required></textarea>
                </div>
                
                <button type="submit" name="button">Add your Review</button>
            </form>

            <ul>
                {% for review in reviews %}
                <li>{{ review.getUserName }} rates {{ restaurant.getName}} a {{ review.getUserRating}} out of 5.</li>
                    <ul>
                        <li>{{ review.getUserReview }}</li>
                    </ul>
                {% endfor %}
            </ul>


            <form action="/delete_restaurant/{{restaurant.getId}}" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" class="btn btn-danger" name="button">Delete This Restaurant</button>
            </form>

            <a href="/"><button type="button" class="btn btn-info" name="button">Home</button></a>
            <a href="/cuisine/{{ cuisine.getId }}"><button type="button" class="btn btn-info" name="button">Back to {{ cuisine.getName }}</button></a>
        </div>
    </body>
</html>
